alias aliases="code /home/$USER/.sources/.aliases"
alias ..='cd ..'
alias .-='cd -'
alias xx='rm -rf'
alias rimraf='xx'
alias appIO="cd /home/$USER/appIO"
alias mod1='cd ~/appIO/module1'
alias mod2='cd ~/appIO/module2'
alias mod3='cd ~/appIO/module3'
alias mod4='cd ~/appIO/module4'
alias mod5='cd ~/appIO/module5'
alias mod6='cd ~/appIO/module6'
alias wk6='cd ~/appIO/module2/wk6'
alias wk7='cd ~/appIO/module3/wk7'
alias wk8='cd ~/appIO/module3/wk8'
alias wk9='cd ~/appIO/module3/wk9'
alias ginit='git init'
alias gfi='git init && touch .sticky && gdc'
alias gac='git add . && git commit -m'
alias gdc='git add . && git commit -m "."'
alias gdp='git add . && git commit -m "." && git push'
alias psql="psql -h localhost"
alias sql="npx sequelize-cli"
alias sqldrop='npx sequelize-cli db:drop';
alias sqlinit="npx sequelize-cli init"
alias sqlmigrate='npx sequelize-cli db:migrate'
alias sqlundo='npx sequelize-cli db:migrate:undo'
alias sqlhardundo='npx sequelize-cli db:migrate:undo:all'
alias sqlwhoops='sqlundo'
alias sqlohfuck='sqlhardundo'
alias sqlseed='npx sequelize-cli seed:generate --name'
alias sqlseedall='npx sequelize-cli db:seed:all'
alias sqlseedundo='npx sequelize-cli db:seed:undo:all'
alias sqlmigrundo='npx sequelize-cli db:migrate:undo:all'
alias nenv='npx dotenv'
alias nenvsql='npx dotenv sequelize-cli'
alias nenvmigrate='npx dotenv sequelize-cli db:migrate'
alias nenvseedall='npx dotenv sequelize-cli db:seed:all'
alias nenvmigrundo='npx dotenv sequelize-cli db:migrate:undo:all'
alias nenvseedundo='npx dotenv sequelize-cli db:seed:undo:all'
alias nenvdrop='npx dotenv sequelize-cli db:drop'
alias nenvcreate='npx dotenv sequelize-cli db:create'
alias bsource="source /home/$USER/.bashrc"
alias ll='ls -la'
hkurebuild()
{
   heroku run npx sequelize-cli db:seed:undo:all -a "$1"
   heroku run npx sequelize-cli db:migrate:undo:all -a "$1"
   heroku run npx sequelize-cli db:migrate -a "$1"
   heroku run npx sequelize-cli db:seed:all -a "$1"
}
join_by()
{
   local IFS="$1"
   shift
   echo "$*"
}
ngi()
{
   npm install $1
   npm install -g $1
}
ndev()
{
   npm install $1 --save-dev
}
ngd()
{
   npm install $1 --save-dev
   npm install -g $1
}
tcode()
{
   touch $1
   code $1
}
alienate()
{
   echo "alias $1='$2'" >> /home/$USER/.sources/.aliases
   bsource
}
vscode()
{
   if [[ $# -eq 0 ]] ; then
       code .
   else code $1
   fi
}
dbrollback()
{
   sqlseedundo
   sqlmigrundo
}
dbBuild()
{
   sqlmigrate
   sqlseedall
}
dbhardrebuild()
{
   sqldrop
   sqlmigrate
   sqlseedall
}
nenvhardrebuild()
{
   nenvdrop
   nenvcreate
   nenvmigrate
   nenvseedall
}
dbrebuild()
{
   sqlseedundo
   sqlmigrundo
   sqlmigrate
   sqlseedall
}
mkcd()
{
    mkdir -p -- "$1" &&
      cd -P -- "$1"
}
gcp()
{
   git add .
   git commit -m "$1"
   git push
}
sqlmod()
{
   npx sequelize-cli model:generate --name $1 --attributes $(join_by , ${*:2})
}
nenvmod()
{
   npx dotenv sequelize-cli model:generate --name $1 --attributes $(join_by , ${*:2})
}
aliasPull()
{
   cd "/home/$USER/.sources/"
   git pull
   bsource
   cd -
   bsource
   echo "New alises pulled and terminal source reloaded"
}
aliasPush()
{
   cd "/home/$USER/.sources/"
   gdp
   cd -
}
