alias c5='clear;clear;clear;clear;clear'
alias remspace='df -h'
alias ll='ls -lahF'
alias clearl='clear; pwd; ll'
alias winc='cd /mnt/c/Users/jmaxw/projects/cpp/'
alias unnode='xx node_modules'
alias devsave='npm install -D'
alias bedit="$EDITOR $HOME/$PROFILE"
alias gstat='git status'
alias show-aliases='cat $HOME/.sources/.aliases'
alias grexit='green_garden && clear && exit'
alias mocha='npx mocha'
alias winrun='powershell.exe Start'
alias psql='psql -d postgres'
alias clup='clear && ..'
alias save='npm install'
alias clexit='clear && exit'
alias gd='git diff'
alias edit-aliases="$EDITOR $HOME/.sources/"
alias ..='cd ..'
alias .-='cd -'
alias xx='rm -rf'
alias rimraf='xx'
alias ginit='git init'
alias gac='git add . && git commit -m'
alias gdc='git add . && git commit -m "."'
alias sql="npx sequelize-cli"
alias sqldrop='npx sequelize-cli db:drop';
alias sqlinit="npx sequelize-cli init"
alias sqlcreate="npx sequelize-cli db:create"
alias sqlmod='npx sequelize-cli model:generate --name'
alias sqlmigrate='npx sequelize-cli db:migrate'
alias sqlundo='npx sequelize-cli db:migrate:undo'
alias sqlhardundo='npx sequelize-cli db:migrate:undo:all'
alias sqlwhoops='sqlundo'
alias sqlohfuck='sqlhardundo'
alias sqlseed='npx sequelize-cli seed:generate --name'
alias sqlseedall='npx sequelize-cli db:seed:all'
alias sqlseedundo='npx sequelize-cli db:seed:undo:all'
alias sqlmigrundo='npx sequelize-cli db:migrate:undo:all'
alias nenv='npx dotenv'
alias nenvsql='npx dotenv sequelize-cli'
alias nenvmigrate='npx dotenv sequelize-cli db:migrate'
alias nenvseedall='npx dotenv sequelize-cli db:seed:all'
alias nenvmigrundo='npx dotenv sequelize-cli db:migrate:undo:all'
alias nenvseedundo='npx dotenv sequelize-cli db:seed:undo:all'
alias nenvdrop='npx dotenv sequelize-cli db:drop'
alias nenvcreate='npx dotenv sequelize-cli db:create'
alias bsource="source $HOME/$PROFILE"
alias grb='git branch -m'
alias tci='tc index.js'
alias claer='clear'
alias container='docker container'
alias dcont='docker container'
alias dcontll='docker container ls -a'
alias dcontl='docker container ls'
alias dimg='docker image'
alias dimgl='docker image ls'
alias sane='stty sane'
alias rupdate='rustup update'
alias explorer='explorer.exe'
alias rsb='clear && cargo build'
alias rsr='clear && cargo run'
alias tor='start-tor-browser.desktop'
alias unsave='npm uninstall -S'
alias tnode='npx ts-node'
alias sqlmigen='npx sequelize-cli migration:generate --name'
alias gc='git commit -m'
alias k="kubectl"
alias k8s-stage="kubectl config use-context k8s-stage"
alias k8s-prod="kubectl config use-context k8s-eu-prod"
alias kctx="kubectl config get-contexts"
alias kpods="kubectl get pods"
alias kdeps="kubectl get deployments"
alias wup="sudo wg-quick up wg0"
alias weu="sudo wg-quick up wg1"
